<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body custom-listing-table">
        <a class="btn back-btn" href="javascript:void(0)" [class.disabled]="!backButtonEnabled" (click)="goBack()">
          <i class="icon-arrow-left-circle" aria-hidden="true"></i>
        </a>
        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h5 class="mb-0 text-gray-800">{{'voucher.banks' | translate}}
            <button data-toggle="modal" data-target="#containerModal" class="btn btn-primary" (click)="selectOption(0)">
              <i class="fa fa-plus" style="cursor: pointer;" (click)="selectOption(0)"></i>
            </button>
          </h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'voucher.bankName' | translate}}</th>
              <th>{{'voucher.accountNumber' | translate}}</th>
              <th>{{'voucher.status' | translate}}</th>
              <th>{{'voucher.assignedTo' | translate}}</th>
              <th>{{'general.actions' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="bankError">
              <td colspan="7" class="table-danger">{{'activityLog.thereWasError' | translate}} </td>
            </tr>
            <tr *ngIf="!bankLoaded && !bankError">
              <td colspan="7" class="text-center">{{ 'loading...' | translate }}</td>
            </tr>
            <tr *ngIf="bankLoaded && !(banks.length>0)">
              <td colspan="7" class="text-center"> {{'activityLog.noDataFound' | translate}}</td>
            </tr>
            <tr *ngFor="let bank of banks; let index = index">
              <td>{{ bank.bank_name }}</td>
              <td>{{ bank.account_number }}</td>
              <td> <span *ngIf="bank.status==1" class="badge badge-success">{{ 'active' | translate }}</span> <span *ngIf="bank.status==0" class="badge badge-secondary">{{ 'inactive' | translate }}</span> </td>
              <td>{{ bank.username }}</td>
              <td>
                <button class="btn btn-warning" (click)="editBank(index)" data-toggle="modal" data-target="#containerModal"> <i class="fa fa-edit"></i>{{ 'general.edit' | translate }}</button>
                <button class="btn btn-danger" (click)="selectBank(index)" data-toggle="modal" data-target="#deleteBank">
                  <i class="fa fa-remove"></i>
                  {{ 'general.delete' | translate }}
                </button>
              </td>
            </tr>
          </tbody>
        </table>
        <app-pagination [currentPage]="page0" [total]="total0" [perPage]="perPage0" (pageChanged)="pageChanged0($event)">
        </app-pagination>
        <br>
        <hr>

        <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h5 class="mb-0 text-gray-800">{{'voucher.cards' | translate}}
            <button data-toggle="modal" data-target="#containerModal" class="btn btn-primary" (click)="selectOption(1)">
              <i class="fa fa-plus" style="cursor: pointer;" (click)="selectOption(1)"></i>
            </button>
          </h5>
        </div>
        <table class="table table-responsive-sm table-bordered table-striped table-sm">
          <thead>
            <tr>
              <th>{{'voucher.availability' | translate}}</th>
              <th>{{'voucher.cardNumber' | translate}}</th>
              <th>{{'voucher.handler' | translate}}</th>
              <th>{{'voucher.amount' | translate}}</th>
              <th>{{'voucher.assignedTo' | translate}}</th>
              <th>{{'general.actions' | translate}}</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="cardError">
              <td colspan="7" class="table-danger">{{'activityLog.thereWasError' | translate}} </td>
            </tr>
            <tr *ngIf="!cardLoaded && !cardError">
              <td colspan="7" class="text-center">{{'voucher.loading' | translate}}</td>
            </tr>
            <tr *ngIf="cardLoaded && !(cards.length>0)">
              <td colspan="7" class="text-center"> {{'activityLog.noDataFound' | translate}}</td>
            </tr>
            <tr *ngFor="let card of cards; let index = index">
              <td>
                <span class="badge badge-success" *ngIf="!card.usage_date">{{ 'general.available' | translate }}</span>
                <span class="badge badge-danger" *ngIf="card.usage_date">{{ 'general.unavailable' | translate }}</span>
              </td>
              <td>{{ card.card_number }}</td>
              <td>{{ card.handler }}</td>
              <td>{{ card.amount }}</td>
              <td>{{ card.username }}</td>
              <td>
                <ng-container *ngIf="!card.usage_date">
                  <button class="btn btn-warning" (click)="editCard(index)" data-toggle="modal" data-target="#containerModal">
                    <i class="fa fa-edit"></i>
                    {{ 'general.edit' | translate }}
                  </button>
                  <button class="btn btn-danger" (click)="selectCard(index)" data-toggle="modal" data-target="#deleteCard">
                    <i class="fa fa-remove"></i>
                    {{ 'general.delete' | translate }}
                  </button>
                </ng-container>
              </td>
            </tr>
          </tbody>
        </table>
        <app-pagination [currentPage]="page" [total]="total" [perPage]="perPage" (pageChanged)="pageChanged($event)">
        </app-pagination>
        <!-- <app-pagination [currentPage]="page" [total]="total" [perPage]="perPage" (pageChanged)="pageChanged($event)">
        </app-pagination> -->
        <ng-template #notAvailable>
          <td>{{ '-' | translate }}</td>
        </ng-template>
      </div>
    </div>
  </div>
</div>

<!-- Modal to create bank/card -->
<div class="modal fade" id="containerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ modalTitle | translate}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ng-container *ngIf="newOrEdit == 0">
          <app-create-bank *ngIf="selectedOption == 0" (closeModal)="closeModal()"></app-create-bank>
          <app-create-card *ngIf="selectedOption == 1" (closeModal)="closeModal()"></app-create-card>
        </ng-container>

        <ng-container *ngIf="newOrEdit == 1">          
          <app-edit-bank *ngIf="editFor == 0" [formData]="bank" (closeModal)="closeModal()"></app-edit-bank>
          <app-edit-card *ngIf="editFor == 1" [formData]="card" (closeModal)="closeModal()"></app-edit-card>
        </ng-container>
      </div>
    </div>
  </div>
</div>


<!-- Confirmation modal to delete bank -->
<div class="modal fade" id="deleteBank" tabindex="-1" role="dialog" aria-labelledby="deleteBank" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'deleteBank?' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ 'areYouSureToDeleteThisBank?' | translate }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'no' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteBank()">{{ 'yes' | translate }}</button>
      </div>
    </div>
  </div>
</div>
<!-- Confirmation modal to delete card -->
<div class="modal fade" id="deleteCard" tabindex="-1" role="dialog" aria-labelledby="deleteCard" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{ 'deleteCard?' | translate }}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">{{ 'areYouSureToDeleteThisCard?' | translate }}</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">{{ 'no' | translate }}</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="deleteCard()">{{ 'yes' | translate }}</button>
      </div>
    </div>
  </div>
</div>